#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

nav {
    margin-bottom: 20px !important;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

/* Excercises styles */
.primary {
    background-color: rgb(230, 0, 230);
}

.secondary {
    background-color: rgba(230, 0, 230, 0.219);
}

.separator {
    width: 90vw;
    height: 5px;
    background-color: rgb(0, 0, 0);
    margin: 20px 0;
}

.user-card {
    display: inline-block;
    margin: 20px;
    box-shadow: 1px 1px 12px rgba(155, 155, 155, 0.253);
}

.user-card-footer {
    padding: 10px;
}

.circle-red::before {
    content: '.';
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: red;
    color: red;
    border-radius: 50%;
}

.circle-green::before {
    content: '.';
    display: inline-block;
    width: 50px;
    height: 50px;
    color: green;
    background-color: green;
    border-radius: 50%;
}

.ctn-nav {
    margin-bottom: 30px;
}

.nav-main {
    box-shadow: 0 0 11px rgb(116, 116, 116);
    padding: 10px;
    display: block;
    position: absolute;
    top: 10px !important;
    left: 45vw;
}

.nav-link {
    margin: 10px;
    padding: 5px;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}
